chapter-list.lua.disable
file-browser.lua
main.lua
subtitle-lines.lua.disable
transcript.lua.disable
uosc/main.lua
uosc/bin/ziggy-darwin
uosc/bin/ziggy-linux
uosc/bin/ziggy-windows.exe
uosc/elements/BufferingIndicator.lua
uosc/elements/Button.lua
uosc/elements/Controls.lua
uosc/elements/Curtain.lua
uosc/elements/CycleButton.lua
uosc/elements/Element.lua
uosc/elements/Elements.lua
uosc/elements/Menu.lua
uosc/elements/PauseIndicator.lua
uosc/elements/Speed.lua
uosc/elements/Timeline.lua
uosc/elements/TopBar.lua
uosc/elements/Updater.lua
uosc/elements/Volume.lua
uosc/elements/WindowBorder.lua
uosc/intl/de.json
uosc/intl/es.json
uosc/intl/fr.json
uosc/intl/ro.json
uosc/intl/ru.json
uosc/intl/uk.json
uosc/intl/zh-hans.json
uosc/lib/ass.lua
uosc/lib/cursor.lua
uosc/lib/intl.lua
uosc/lib/menus.lua
uosc/lib/std.lua
uosc/lib/text.lua
uosc/lib/utils.lua
mpv-twitch-chat-irc-master/camila.txt
mpv-twitch-chat-irc-master/ircdump.py
mpv-twitch-chat-irc-master/ircdump.py.bak
mpv-twitch-chat-irc-master/README.md
mpv.py
